* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#header {
  background-color: lightblue;
}

#interface-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#projects-display {
  background-color: rgb(60, 202, 60);
  width: 25%;
}

#todos-display {
  /* background-color: rgb(247, 127, 127); */
  width: 75%;
}

#main-title {
  margin: 0;
  display: block;
}

.grid-container {
  display: grid;
}

.checkbox {
  width: 1.5em;
  padding-top: 1px;
}

.todo-item {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.content-wrapper {
  width: 80%;
  margin: auto;
}

.center {
  text-align: center;
  padding-bottom: 4px;
}

.col-text {
  padding-top: 2px;
}

.trash {
  width: 1.5em;
}

.edit {
  width: 1.5em;
  padding-bottom: 4px;
}

.display-inline {
  display:inline;
}

.todo-button {
  float: right;
  margin-top: 10px;
}