* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#header {
  background-color: lightblue;
}

#interface-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#projects-display {
  background-color: rgb(60, 202, 60);
  width: 25%;
}

#todos-display {
  /* background-color: rgb(247, 127, 127); */
  width: 75%;
}

#main-title {
  margin: 0;
  display: block;
}

.grid-container {
  display: grid;
}

.checkbox {
  width: 1.5em;
  padding-top: 1px;
}

.todo-item {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.content-wrapper {
  width: 80%;
  margin: auto;
}

.center {
  text-align: center;
  padding-bottom: 4px;
}

.col-text {
  padding-top: 2px;
}

.trash {
  width: 1.5em;
}

.edit {
  width: 1.5em;
  padding-bottom: 4px;
}

.display-inline {
  display:inline;
}

.todo-button {
  float: right;
  margin-top: 10px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  /* float: left; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-flex {
  display:flex;
  justify-content: space-between;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}